<div class="center-align" style="margin-top: 150px">
    <h1>SIGN IN</h1>
    <form class="editBox" ng-submit="signIn()" style="position: static; display: inline-block; margin: 0px; width: 226px">
        <div>
            <p class="editTitle">Account</p>
            <input type="text" ng-model="account" style="margin: 6px 0px 12px; width: 100%" required>
            <p class="editTitle">Password</p>
            <input type="password" ng-model="password" style="margin: 6px 0px 12px; width: 100%" required>
        </div>
        <div>
            <button class="waves-effect waves-light btn" type="submit" style="padding: 0px; width: 49%; display: inline-block;">Sign In</button>
            <button class="waves-effect waves-light btn edit-cancel" ng-click="signUp()" style="padding: 0px; width: 49%; display: inline-block;">Sign Up</button>
        </div>
    </form>
</div>
