<form ng-submit="createAccount()">
    <p>Name</p>
    <input type="text" ng-model="userInfo.name[0]" required> <input type="text" ng-model="userInfo.name[1]" required>
    <p>Work Location</p>
    <input type="text" ng-model="userInfo.workInfo.location" required>
    <p>Work Industry</p>
    <input type="text" ng-model="userInfo.workInfo.industry" required>

    <p>Email</p>
    <input type="email" ng-model="account" required>
    <p>Password</p>
    <input type="password" ng-model="password" required>
    <p>Confirm Password</p>
    <input type="password" ng-model="passwordConfirm">

    <input type="submit" value="Create Account">
</form>